@import url(http://fonts.googleapis.com/css?family=Coda+Caption:800);




body {
    background-color: #333;
}
h1 {

    font-size: 100px;
    line-height: 140px;
    font-family: 'Coda Caption', sans-serif;
    position: relative;
    margin: 5%;
    padding: 0;
    color: #fff;
    width: 90%;
    text-align: center;
    background-color: #33f;
    border-radius: .2em;
}
h2 {
    text-align: center;
    color: #fff;
}

@media (max-width: 480px) {
    h1 {
        font-size: 60px;
        line-height: 80px;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 165px;
        line-height: 210px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 240px;
        line-height: 280px;
    }
}